.accommodation-welcome-container {
    display: flex;
    position: relative;
    flex-direction: row;
    width: 80% !important;
    margin: auto;
    padding: 60px 0px;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
}

.text-box-container{
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    overflow: auto;
    padding-top: 5%;
    padding-bottom: 5%;
}
