.ab-headerConditions_toolbar{
    display: flex;
    align-items: flex-start;
    color: #fff;
    float: right;
}

.ab-headerConditions_toolbar_left, .ab-headerConditions_toolbar_right {
    position: relative;
    border: none;
    display: -ms-flexbox;
    display: flex;
}

.ab-headerConditions_toolbar_left {
    padding: 0em 0.5em 0.75em;
    /* background: #094e9d; */
}



.ab-button, button {
    display: inline-block;
    /* padding: 1em 1.5em; */
    /* border: 2px solid; */
    background: rgba(255, 255, 255, 0);
    font-size: inherit;
    text-align: center;
    color:#fff;
    text-decoration: none;
    text-transform: uppercase;
    color: inherit;
    cursor: pointer;
    border-width: 0px;
}

.white{
    fill: #fff;
}

.yellow{
    fill: #f9d71c;
}

.gray{
    fill: #a9a9a9;
}


.ab-util_srOnly{position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}