.activities-header{
    width:100%;
    height: 100%;
    padding-bottom: 2em;
    background-size: cover;
    background-image: url("http://localhost:3000/activities-header.jpg");
    background-blend-mode: darken;
    background-size: cover;
    position: relative;
}

.activities-header .text-box{
    max-width: 25em;
    padding-top: 30em;
    padding-bottom: 20em;
}

.activities-header h1{
color: white;
}


.activities-header p{
    color: white;
}

.activites-cover-2-col{
    padding: 2em 0em 2em 0em;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

/* .activites-cover-2-col img{
    clip-path: circle(50% at 50% 50%);
    height: 100%;
    max-width: 30%;
} */

.activites-cover-2-col h1{
    color: black;
}