.sponsors{
    display: flex;
    justify-content: space-around;
    height: 7em;
    padding: 4em 0 3em 0;
    text-align: center;
    background: #094e9d;
}

.sponsors button{
    padding: 1em;
    margin-top: 1em;
    border-radius: 0.25em;
    background-color: white ;
    border: none;
    outline: none;
    height: none;
}


.sponsors input{
    padding: 1em;
    margin-top: 1em;
}